<ion-header>
  <ion-navbar>
    <ion-title>FEED</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let movie of listMovies">
    <ion-card *ngIf="movie.overview" (click)="getMovieDetails(movie)" class="feed-card">

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/Logo Hunter.jpg">
        </ion-avatar>
        <h2 class="feed-title">{{ movie.title }}</h2>
        <p class="feed-date">{{ movie.release_date }}</p>
      </ion-item>

      <div *ngIf="movie.backdrop_path">
        <img [src]="'https://image.tmdb.org/t/p/w300/' + movie.backdrop_path">
      </div>

      <ion-card-content class="feed-content">
        <p class="text-overflow">{{ movie.overview }}</p>
      </ion-card-content>

    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>